html {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #1d1d1d;
  color-scheme: light dark;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("assets/fonts/BricolageGrotesque-ExtraBold.woff2") format("truetype");
  font-weight: 800; /* Un valor para extra bold, puedes ajustarlo */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("assets/fonts/BricolageGrotesque-ExtraLight.woff2")
    format("truetype");
  font-weight: 200; /* Un valor para extra light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("assets/fonts/BricolageGrotesque-Light.woff2") format("truetype");
  font-weight: 300; /* Un valor para light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("assets/fonts/BricolageGrotesque-Medium.woff2") format("truetype");
  font-weight: 500; /* Un valor para medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("assets/fonts/BricolageGrotesque-Medium.woff2") format("truetype");
  font-weight: normal; /* o 400 para regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("assets/fonts/BricolageGrotesque-SemiBold.woff2") format("truetype");
  font-weight: 600; /* Un valor para semi-bold */
  font-style: normal;
  font-display: swap;
}
